[log]
loglevel = {{ sygnal_log_level }}
logfile = {{ sygnal_log_file }}

[metrics]
{% if sygnal_prometheus is defined %}
prometheus_port = {{ sygnal_prometheus.port }}
prometheus_addr = {{ sygnal_prometheus.addr }}
{% endif %}
{% if sygnal_sentry_dsn is defined %}
sentry_dsn = "{{ sygnal_sentry_dsn }}"
{% endif %}

[apps]
{% for app in sygnal_apps %}
{{ app.id }}.type = {{ app.type }}
{% if app.type == 'apns' %}
{{ app.id }}.certfile = {{ app.apns_certfile }}
{% else ifapp.type == 'gcm' %}
{{ app.id }}.apiKey = {{ app.gcm_api_key }}
{% endif %}
{% endfor %}
