---
matrix_synapse_extra_config: {}
matrix_synapse_deployment_method: pip
matrix_synapse_supervision_method: systemd
matrix_synapse_base_path: "/opt/synapse"
matrix_synapse_secrets_path: "{{ matrix_synapse_base_path }}/secrets"
matrix_synapse_dh_path: "{{ matrix_synapse_base_path }}/tls/{{ matrix_server_name }}.dh"
matrix_synapse_public_baseurl: "https://{{ matrix_server_name }}"
matrix_synapse_signing_key_path: "{{ matrix_synapse_base_path }}/tls/{{ matrix_server_name }}.signing.key"
matrix_synapse_version: "{{ matrix_synapse_unstable | ternary(matrix_synapse_unstable_version, matrix_synapse_stable_version) }}"
matrix_synapse_unstable: false
matrix_synapse_stable_version: "1.55.2"
matrix_synapse_unstable_version: "1.56.0rc1"
matrix_synapse_log_dir: "/var/log/matrix_synapse"
matrix_synapse_log_days_keep: 14
matrix_synapse_pid_file: "{{ matrix_synapse_base_path }}/synapse.pid"
matrix_synapse_docker_networks: []
matrix_synapse_docker_etc_hosts: {}
matrix_synapse_docker_ports: ["8008:8008", "8448:8448"]
matrix_synapse_docker_labels: {}
matrix_synapse_docker_env: {}
matrix_synapse_docker_recreate: false
matrix_synapse_docker_pull: true
matrix_synapse_extra_docker_volumes: []
matrix_synapse_docker_entrypoint: "python"
matrix_synapse_docker_command:
  - "-m"
  - "synapse.app.homeserver"
  - "-c"
  - "{{ matrix_synapse_base_path }}/homeserver.yaml"
matrix_synapse_container_ref: "docker.io/matrixdotorg/synapse"
matrix_synapse_container_tag: "v{{ matrix_synapse_version }}"
matrix_synapse_container_name: "synapse"

# Redis config
matrix_synapse_redis_enabled: false
matrix_synapse_redis_host: ~
matrix_synapse_redis_port: 6379
matrix_synapse_redis_pass: ~

# Monitoring
matrix_synapse_metrics_enabled: false
matrix_synapse_worker_metrics_enabled: "{{ matrix_synapse_metrics_enabled | bool }}"
matrix_synapse_worker_metrics_port: 9101

# Worker control config
matrix_synapse_workers_enabled: false
matrix_synapse_worker_replication_host: "{{ matrix_synapse_container_name }}"
matrix_synapse_worker_replication_port: 9003
matrix_synapse_worker_replication_bind_ip: "127.0.0.1"
matrix_synapse_worker_listener_base_port: 16000
matrix_synapse_worker_listener_bind_base_ip: "0.0.0.0"
matrix_synapse_worker_labels: {}
matrix_synapse_worker_image: "{{  matrix_synapse_container_ref }}:{{ matrix_synapse_container_tag }}"

# Control which workers (or how many) to run
matrix_synapse_workers_client: 0
matrix_synapse_workers_federation_in: 0
matrix_synapse_workers_federation_out: 0
matrix_synapse_workers_media: 0
matrix_synapse_worker_push: false
matrix_synapse_worker_appservice: false
matrix_synapse_worker_user_search: false

# Control where which paths get routed
matrix_synapse_worker_client_endpoints: >-
  {{
    matrix_synapse_worker_client_sync_endpoints
    + matrix_synapse_worker_client_api_endpoints
    + matrix_synapse_worker_client_send_endpoints
    + matrix_synapse_worker_client_login_endpoints
  }}

# Certificate management
matrix_synapse_container_certificate_refresh: false
matrix_synapse_container_certificate_refresh_command: "update-ca-certificates --fresh"
matrix_synapse_container_certificate_refresh_user_id: 0
