fcm_admin_key = "{{ hedwig_fcm_admin_key }}"
server_bind_ip = "{{ hedwig_bind_ip }}"
server_port = "{{ hedwig_listen_port|int }}"
app_id = "{{ hedwig_app_id }}"
fcm_collapse_key = "{{ hedwig_fcm_collapse_key }}"
fcm_notification_click_action = "{{ hedwig_fcm_notification_click_action }}"
fcm_notification_title = "{{ hedwig_fcm_notification_title }}"
fcm_notification_body = "{{ hedwig_fcm_notification_body }}"
fcm_notification_sound = "{{ hedwig_fcm_notification_sound }}"
fcm_notification_icon = "{{ hedwig_fcm_notification_icon }}"
fcm_notification_tag = "{{ hedwig_fcm_notification_tag }}"
fcm_notification_android_channel_id = "{{ hedwig_fcm_notification_android_channel_id }}"
