---

hedwig_user: "{{ hedwig_prefix }}hedwig"
hedwig_base_path: /opt/{{ hedwig_prefix }}hedwig
# prefix used in different places to allow for multiple instances on the same host
hedwig_prefix: ""
hedwig_config_filename: "config.yaml"
hedwig_config_file: "{{ hedwig_base_path }}/{{ hedwig_config_filename }}"
hedwig_fcm_service_account_file: "{{ hedwig_base_path }}/fcm-auth.json"
hedwig_version: "1.5.2"

hedwig_container_name: "{{ hedwig_prefix }}hedwig"
hedwig_container_image_name: "registry.gitlab.com/famedly/company/backend/services/hedwig"
hedwig_container_image: "{{ hedwig_container_image_name }}:{{ hedwig_container_image_tag | default(['v', hedwig_version] | join()) }}"
hedwig_container_env: {}
hedwig_container_ports: []
hedwig_container_labels: {}
hedwig_container_restart_policy: "unless-stopped"
hedwig_container_extra_volumes: []

hedwig_extra_config: {}
hedwig_server_port: 7022
hedwig_server_bind_address: "::"
hedwig_log_level: INFO
# hedwig_app_id: "org.matrix.awesome_client"
hedwig_max_jitter_delay: 20.0
hedwig_fcm_collapse_key: "org.matrix.default_notification"
# hedwig_fcm_notification_click_action: "FLUTTER_NOTIFICATION_CLICK"
hedwig_fcm_notification_title: "<count> unread rooms"
hedwig_fcm_notification_body: "Open app to read the messages"
hedwig_fcm_notification_sound: "default"
hedwig_fcm_notification_icon: "notifications_icon"
hedwig_fcm_notification_tag: "org.matrix.default_notification"
hedwig_fcm_notification_android_channel_id: "org.matrix.app.message"
hedwig_fcm_push_max_retries: 5
