---
element_version: "{{ element_unstable | ternary(element_unstable_version, element_stable_version) }}"
element_unstable: false
element_stable_version: "1.8.5"
element_unstable_version: "1.8.6-rc.2"
element_webapp_dir: /opt/element
element_config:
  default_server_config:
    m.homeserver:
      base_url: https://matrix-client.matrix.org
      server_name: matrix.org
    m.identity_server:
      base_url: https://vector.im
  disable_custom_urls: false
  disable_guests: false
  disable_login_language_selector: false
  disable_3pid_login: false
  brand: Element
  integrations_ui_url: https://scalar.vector.im/
  integrations_rest_url: https://scalar.vector.im/api
  integrations_widgets_urls:
    - https://scalar.vector.im/_matrix/integrations/v1
    - https://scalar.vector.im/api
    - https://scalar-staging.vector.im/_matrix/integrations/v1
    - https://scalar-staging.vector.im/api
    - https://scalar-staging.riot.im/scalar/api
  bug_report_endpoint_url: https://element.io/bugreports/submit
  defaultCountryCode: GB
  showLabsSettings: false
  features:
    feature_new_spinner: labs
    feature_pinning: labs
    feature_custom_status: labs
    feature_custom_tags: labs
    feature_state_counters: labs
  default_federate: true
  default_theme: light
  roomDirectory:
    servers:
      - matrix.org
  welcomeUserId: "@riot-bot:matrix.org"
  piwik:
    url: https://piwik.riot.im/
    whitelistedHSUrls:
      - https://matrix.org
    whitelistedISUrls:
      - https://vector.im
      - https://matrix.org
    siteId: 1
  enable_presence_by_hs_url:
    https://matrix.org: false
    https://matrix-client.matrix.org: false
  settingDefaults:
    breadcrumbs: true
  jitsi:
    preferredDomain: jitsi.riot.im

element_domain_configs: []
element_deployment_method: 'webroot' #alternative is 'docker'
element_docker_ports: []
element_docker_labels: {}
element_docker_volumes: "{{ element_docker_main_volumes + element_docker_domain_volumes }}"
element_docker_main_volumes:
  - "{{ element_webapp_dir }}/config.json:/app/config.json"
# This looks a bit crude, but what happens here is quite simple: First, we pull out the domain, then we match the whole string, and use it to construct the mount, then we make a list again.
element_docker_domain_volumes: "{{ element_domain_configs | map(attribute='domain') | map('regex_replace', '^(.*)$', element_webapp_dir + '/config.\\1.json:/app/config.\\1.json') | list }}"
